@font-face: {
    font-family: "PT-Sans";
    font-style: normal;
    font-weight: 400;
    
    src: url("fonts/ptsans-400.woff2") format("woff2");
    }

    @font-face {
        font-family: "PT-Sans";
        font-style: normal;
        font-weight: 700;

        src: url("fonts/ptsans-700.woff2") format("woff2");
    }

    body {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        line-height: 21px;
        color: #000000;
        background-color: #FFFFFF;
    }

    .visually-hidden {
        display: none;
    }

    .main-header {
        color: #000000;
        background-color: #FFFFFF;
    }

    .navigation-link {
        font-family: "PT-Sans", sans-serif;

        font-weight: 700px;
        text-align: left;
        color: inherit;
        background-color: inherit;
        text-decoration: none;
        text-transform: capitalize;
    }

    .page-header-logo {
        text-align: center;
    }

    .promo main {
        color: #000000;
        background-color: #FFFFFF;
        background-image: url("img/index-bg.jpg");
            background-size: 100% auto;
            background-repeat: no-repeat;
    }

     .advantages-list {
        text-align: center;
     }

     .advantages div {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: inherit;
         color: white;
         background-color: #83B3D3;
         text-decoration: none;
         text-transform: none;
     }

     .advantages-title {
         font-family: "PT-Sans", sans-serif;

         font-size: 24px;
         font-weight: 700px;
         line-height: 28px;
         text-align: center;
         color: #FFFFFF;
         background-color: inherit;
         text-decoration: none;
         text-transform: uppercase;
     }

     .advantages-name {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: #FFFFFF;
         background-color: inherit;
         text-decoration: none;
         text-transform: capitalize;
     }

     .advantages-paragraph {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: white;
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
     }

     .promo {
         font-family: "PT-Sans", sans-serif;

         font-size: 22px;
         font-weight: 400px;
         line-height: 36px;
         text-align: center;
         color: black;
         background-color: white;
         text-decoration: none;
         text-transform: capitalize;
     }

     .promo-title {
        font-family: "PT-Sans", sans-serif;

        font-size: 30px;
        font-weight: 700px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        background-color: inherit;
        text-decoration: none;
        text-transform: uppercase;
     }

     .promo-paragraph {
        font-family: "PT-Sans", sans-serif;

        font-size: 22px;
        font-weight: 400px;
        line-height: 36px;
        text-align: center;
        color: black;
        background-color: white;
        text-decoration: none;
        text-transform: none;
     }

     .index-columns {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        background-color: #83B3D31F;
        text-decoration: none;
        text-transform: none;
     }

     .advantages-description-list {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: black;
         background-color: #83B3D31F;
         text-decoration: none;
         text-transform: none;
     }

     .advantages-title h3 {
        font-family: "PT-Sans", sans-serif;

        font-size: 24px;
        font-weight: 700px;
        line-height: 28px;
        text-align: center;
        color: white;
        background-color: #83B3D3;
        text-decoration: none;
        text-transform: uppercase;
     }

     .advantages-description-item.living {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: #000000;
         background-color: #83B3D31F;
         text-decoration: none;
         text-transform: none;
     }

     .advantages-description-title.living {
         font-family: "PT-Sans", sans-serif;

         font-size: 24px;
         font-weight: 700px;
         line-height: 28px;
         text-align: center;
         color: black;
         background-color: #83B3D31F;
         text-decoration: none;
         text-transform: uppercase;
     }

     .advantages-description-paragraph.living {
        font-family: "PT-Sans", sans-serif;

        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-align: inherit;
        color: inherit;
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
     }

     .advantages-description-item.food {
        font-family: "PT-Sans", sans-serif;
        
        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        background-color: #FFFFFF;
        text-decoration: none;
        text-transform: none;
     }

     .advantages-description-title.food {
         font-family: "PT-Sans", sans-serif;

         font-size: 24px;
         font-weight: 700px;
         line-height: 28px;
         text-align: center;
         color: black;
         background-color: inherit;
         text-decoration: none;
         text-transform: uppercase;
     }

     .advantages-description-paragraph.food {
         font-family: "PT-Sans", sans-serif;

         font-size: inherit;
         font-weight: inherit;
         line-height: inherit;
         text-align: inherit;
         color: inherit;
         background-color: inherit;
         text-decoration: none;
         text-transform: none;
     }

     .advantages-description-item.gifts {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: black;
         background-color: #83B3D31F;
         text-decoration: none;
         text-transform: none;
     }

     .advantages-description-title.gifts {
         font-family: "PT-Sans", sans-serif;

         font-size: 24px;
         font-weight: 700px;
         line-height: 28px;
         text-align: center;
         color: black;
         background-color: inherit;
         text-decoration: none;
         text-transform: uppercase;
     }

     .advantages-description-paragraph.gifts {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: inherit;
         background-color: inherit;
         text-decoration: none;
         text-transform: none;
     }

     .diable-bridge-description {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: white;
        background-color: #83B3D3;
        text-decoration: none;
        text-transform: capitalize;
     }

     .diable-bridge-title {
         font-family: "PT-Sans", sans-serif;

         font-size: 24px;
         font-weight: 700px;
         line-height: 28px;
         text-align: center;
         color: white;
         background-color: inherit;
         text-decoration: none;
         text-transform: uppercase;
     }

     .diable-bridge-paragraph {
         font-family: "PT-Sans", sans-serif;

         font-size: inherit;
         font-weight: inherit;
         line-height: inherit;
         text-align: inherit;
         color: inherit;
         background-color: inherit;
         text-decoration: none;
         text-transform: none;
     }

     .advantages-list-item small-area {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: black;
         background-color: #83B3D31F;
         text-decoration: none;
         text-transform: none;
     }

     .small-area-title {
         font-family: "PT-Sans", sans-serif;

         font-size: 24px;
         font-weight: 700px;
         line-height: 28px;
         text-align: center;
         color: black;
         background-color: inherit;
         text-decoration: none;
         text-transform: uppercase;
     }

     .small-area-text {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: black;
         background-color: inherit;
         text-decoration: none;
         text-transform: none;
     }

     .small-area-paragraph {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         font-weight: 400px;
         line-height: 21px;
         text-align: center;
         color: black;
         background-color: inherit;
         text-decoration: none;
         text-transform: none;
     }

    .advantages-list-item beautiful-road {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: black;
        background-color: #83B3D333;
        text-decoration: none;
        text-transform: none;
    }     

     .beautiful-road-title {
         font-family: "PT-Sans", sans-serif;

         font-size: 24px;
         font-weight: 700px;
         line-height: 28px;
         text-align: inherit;
         color: inherit;
         background-color: #83B3D333;
         text-decoration: none;
         text-transform: uppercase;
     }

     .beautiful-road-text {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: black;
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
    }

    .beautiful-road-paragraph {
        font-family: "PT-Sans", sans-serif;

        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-align: inherit;
        color: inherit;
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
    }

    .advantages-list-item.few-tourists {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: black;
        background-color: #83B3D31F;
        text-decoration: none;
        text-transform: none;
    }

    .few-tourists title {
        font-family: "PT-Sans", sans-serif;

        font-size: 24px;
        font-weight: 700px;
        line-height: 28px;
        text-align: center;
        color: black;
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
    }

    .few-tourists text {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: inherit;
        color: black;
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
    }

    .few-tourists paragraph {
        font-family: "PT-Sans", sans-serif;

        font-size: 18px;
        font-weight: 400px;
        line-height: 21px;
        text-align: center;
        color: black;
        background-color: inherit;
        text-decoration: none;
        text-transform: inherit;
    }

    .search {
        font-family: "PT-Sans" sans-serif;

        font-size: 22px;
        font-weight: 400px;
        line-height: 26px;
        text-align: center;
        color: black;
        background-color: white;
        text-decoration: none;
        text-transform: none;
    }

    .visually-hidden {
        display: none;       
    }

    .search-title {
        font-family: "PT-Sans", sans-serif;

        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: black;
        background-color: white;
        text-decoration: none;
        text-transform: none;
    }

    .search-paragraph {
        font-family: "PT-Sans", sans-serif;

        font-size: 22px;
        font-weight: 400px;
        line-height: 25px;
        text-align: center;
        color: black;
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
    }

     .mail-distribution {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         line-height: 26px;
         text-align: center;
         color: black;
         background-color: #F2F2F2;
         background-image: url("img/background-footer.jpg");
            background-size: 100% auto;
            background-repeat: no-repeat;
        text-decoration: none;
        text-transform: none;
     }

     .e-mail {
         font-family: "PT-Sans", sans-serif;

         font-size: 18px;
         line-height: 26px;
         text-align: center;
         color: black;
         background-color: #F2F2F2;
         text-decoration: none;
         text-transform: none;
     }
    
    .button {
        font-family: inherit;

        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: white;
        background-color: #81B3D3;
        text-decoration: none;
        text-transform: uppercase;
    }

    .contacts-phone {
        font-family: "PT-Sans", sans-serif;

        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: black;
        background-color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

    .page-footer {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: black;
        background-color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

    .page-footer a {
        color: black;
    }

    .academy-logo-link {
        font-size: 14px;
        color: black;
    }

    .page-footer-logo {
        text-align: right;
    }